@page "/links"
@using LinkShortenerFrontend.Models
@using LinkShortenerFrontend.Services

@*@inject IHttpClientFactory _clientFactory*@
@inject ILinkService LinkService;

<h3>Link Data</h3>
@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h2">@errorString</div>
}
else if (links is null)
{
    <div class="h2"> Loading... </div>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>URL</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in links)
            {
                <tr>
                    <td>@link.Id</td>
                    <td>@link.LinkName</td>
                    <td>@link.LinkURL</td>
                    <td>@link.LinkDescription</td>
                    <td>@link.CreatedAt</td>
                    <td>@link.UpdatedOn</td>
                </tr>
            }
        </tbody>
    </table>
}


